<div class="row" *ngFor="let session of sessions">
  <div class="col-md-10">
    <collapsible-well [title]="session.name">
       <div well-title> <h6>{{session.presenter}}</h6> 
       </div>
       <div well-body>
        <span>Duration: {{session.duration}}</span><br />
        <span>Level: {{session.level}}</span>
       </div>
    </collapsible-well>
  </div>
</div>