<div>
<h1>Hot travel deals!</h1>
<hr>
<div class="row">
  <div *ngFor="let event of events" class="col-md-10">
    <event-thumbnail (click)="handleThumbnailClick(event.name)"  [event]="event"></event-thumbnail>
  </div>
</div>
 
</div>