<h1>New Event</h1>
<hr>
<div class="col-md-6">
  <form #newEventForm="ngForm" (ngSubmit)="saveEvent(newEventForm.value)" autocomplete="off" novalidate>
    <div class="form-group" [ngClass]="{'error': newEventForm.controls.name?.invalid && newEventForm.controls.name?.touched}">
      <label for="eventName">Event Name:</label>
      <em *ngIf="newEventForm.controls.name?.invalid && (newEventForm.controls.name?.touched)">Required</em>
      <input (ngModel)="name" name="name" required id="name" type="text" class="form-control" placeholder="Name of your event..." />
    </div>
    <div class="form-group" [ngClass]="{'error': newEventForm.controls.date?.invalid && newEventForm.controls.date?.touched}">
      <label for="eventDate">Event Date:</label>
      <em *ngIf="newEventForm.controls.date?.invalid && (newEventForm.controls.date?.touched)">Required</em>
     <!--<input (ngModel)="date" name="date" required id="eventDate" type="text" class="form-control" placeholder="format (mm/dd/yyyy)..." />-->
       <datepicker name="date" (ngModel)="date" 
       [minDate]="minDate" 
       [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>
    </div>
    <div class="form-group" [ngClass]="{'error': newEventForm.controls.time?.invalid && newEventForm.controls.time?.touched}">
      <label for="eventTime">Event Time:</label>
      <em *ngIf="newEventForm.controls.time?.invalid && (newEventForm.controls.time?.touched)">Required</em>
      <!--<input (ngModel)="time" name="time" required id="eventTime" type="text" class="form-control" placeholder="start and end time..." />-->
      <timepicker (ngModel)="time" name="time"></timepicker>
    </div>
      
    <div class="form-group" [ngClass]="{'error': newEventForm.controls.price?.invalid && newEventForm.controls.price?.touched}">
      <label for="eventPrice">Event Price:</label>
      <em *ngIf="newEventForm.controls.price?.invalid && (newEventForm.controls.price?.touched)">Required</em>
      <input (ngModel)="price" name="price" required id="eventPrice" type="text" type="number" class="form-control" placeholder="event price..." />
    </div>
     <div class="form-group" [ngClass]="{'error': newEventForm.controls.slots?.invalid && newEventForm.controls.slots?.touched}">
      <label for="slots">Slots:</label>
      <em *ngIf="newEventForm.controls.slots?.invalid && (newEventForm.controls.slots?.touched)">Required</em>
      <input (ngModel)="slots" name="slots" required id="slots" type="text" type="number" class="form-control" placeholder="Number of slots" />
    </div>   
    <!--<div ngModelGroup="location">-->
    <div>
      <div class="form-group">
        <label for="address">Event Location:</label>
        <input (ngModel)="location" name="location" id="location" type="text" class="form-control" placeholder="Address of event..." />
      </div>
    </div>
<!--
    <div class="form-group">
      <label for="onlineUrl">Online Url:</label>
      <input (ngModel)="onlineUrl" name="onlineUrl" id="onlineUrl" type="text" class="form-control" placeholder="Online Url..." />
    </div>
    <div class="form-group" [ngClass]="{'error': newEventForm.controls.imageUrl?.invalid && newEventForm.controls.imageUrl?.touched}">
      <label for="imageUrl">Image:</label>
      <em *ngIf="newEventForm.controls.imageUrl?.invalid && newEventForm.controls.imageUrl?.touched && newEventForm.controls.imageUrl?.errors.required">Required</em>
      <em *ngIf="newEventForm.controls.imageUrl?.invalid && newEventForm.controls.imageUrl?.touched  && newEventForm.controls.imageUrl?.errors.pattern">Must be a png or jpg url</em>
      <input (ngModel)="imageUrl" name="imageUrl" required pattern=".*\/.*.(png|jpg)" id="imageUrl" type="text" class="form-control" placeholder="url of image..." />
      <img [src]="newEventForm.controls.imageUrl.value" *ngIf="newEventForm.controls.imageUrl?.valid" />
    </div>-->
     <!--<form ng-submit="uploadFile()">
        <input type="file" name="file" class="inputimg" id="nameImg" accept="image/*">
        <br />
        <span class="input-group-btn">
                <button  type="submit" class="btn btn-block">Upload Image 
                  <i class="material-icons">send</i>
                </button>
          </span>
      </form>-->
    <label class="btn btn-primary">
    <input (change)="onChange($event)"
           type="file"
           class="hidden"
           ngFileSelect
           [options]="options"
           [events]="inputUploadEvents"
           (onUpload)="handleUpload($event)"
           (onPreviewData)="handlePreviewData($event)"
           (beforeUpload)="beforeUpload($event)">
    Upload Image
  </label>
  <hr>
  <div>
  <!--<button type="button" class="btn btn-primary" (click)="startUpload()">Start Upload</button>
  </div> -->
  <div *ngIf="previewData && !response">
  <img style="width:300px;height:300px" class="img-thumbnail" [src]="previewData">
  </div>

    <!--<input type="file" [(ngModel)]="myImage" id="filebutton" value="upload">
        <a class="btn btn-primary"  (click)="upload()">Upload</a>-->
</div>


<hr>
     
    <button type="submit"  [disabled]="newEventForm.invalid" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>
 <br>
 