<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/events']">Applink Tours</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ><a [routerLink]="['/events']"
         >Home <span class="sr-only">(current)</span></a></li>
        <li *ngIf="_authService.isLoggedIn"  routerLinkActive="active"><a [routerLink]="['/events/new']">Add new</a></li>
        <li  routerLinkActive="active" *ngIf="_authService.isAuthenticated()"><a [routerLink]="['/user/profile']">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a *ngIf="_authService.isLoggedIn" [routerLink]="['user/profile']">{{_authService.currentUser?.userName}}</a>
          <a *ngIf="!_authService.isLoggedIn" [routerLink]="['user/login']">Login</a>
          </li>
        <li> 
          <a *ngIf="_authService.isLoggedIn" (click)="logout()">Logout</a>   
        </li>
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>