 <div [routerLink]="['/events',event.$key]" class="well hoverwell thumbnail">
   <div class="row">
     <div class="col-md-9">
    <h2>{{event?.name}}</h2>
    <div> Date:{{event?.date | date:'shortDate'}}</div>
    <div> Time:{{event?.time}}</div>
    <div >
    <span class="label" 
    [ngClass]="getSlotsDisplay(event?.slots,event.slotsRemaining)"  
      > Slots Remaining: {{event?.slotsRemaining}} </span>
    </div>
    <div> Price: &#8369;{{event?.price}} </div>
     </div> 
    <div class="col-md-3">
    <img src="{{event?.image}}" alt="..." class="img-circle img-responsive">
    </div>
    
   </div>
   <button class="btn btn-primary" (click)="clickMe()">More Info</button>
  </div>